<table class="table">
	<thead>
		<tr>
			<th>Pie Name:</th>
			<th>Description:</th>
			<th>Price/Pie:</th>
			<th>Category:</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class='pie_title'><%= @item.title %></td>
			<td class='pie_description'><%= @item.description %></td>
			<td class='pie_price'><%= @item.price_pie %></td>
			<td class='pie_category'>|
				<% @item.categories.each do |category| %>
					<%= link_to category.name, admin_category_path(category) %> |
				<% end %>
			</td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_item_path(@item) %> |
<%= link_to 'Back to Menu', admin_items_path %>
