<!-- we want to take info here and create some sort of HTTP request -->
<!-- that will talk to the controller -->
<!-- which talks to the model to validate our login -->
<!-- if user is validated it redirects to the admin dashboard -->
<%= form_tag users_path, method: :post do %>
  <div class='field'>
    <%= label_tag 'email' %>
    <%= text_field_tag 'email' %>
  </div>
  <div class='field'>
    <%= label_tag 'password' %>
    <%= text_field_tag 'password' %>
  </div>
  <div class="actions">
    <%= submit_tag "Login"%>
  </div>
<% end %>
