<header class='container-fluid'>
  <div class='row'>
    <div class='col-lg-12'>
      <div id='title'>
        <ul>
          <li>Dangerously</li>
          <li>Delicious</li>
          <li>Pies</li>
        </ul>
      </div>
      <ul id='menu'>
        <li><%= link_to 'Menu', items_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li id='menu_cart'>
          <%= link_to 'Cart', cart_path %>
          <% if @cart_count != 0 %>
            <%= "(#{@cart_count})" %>
          <% else %>
            <%= "" %>
          <% end %>
        </li>
        <% if signed_in? %>
          <li><%= link_to 'Account Info', current_user %></li>
          <li>
            <%= link_to 'Sign Out', signout_path, method: 'delete' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign in', signin_path %>
          </li>
        <% end %>
        <li>Login</li>
      </ul>
    </div>
  </div>
</header>
