<header class='container-fluid'>
  <div class='row'>
    <div class='col-lg-12'>
      <div id='title'>
        <ul>
          <li>Dangerously</li>
          <li>Delicious</li>
          <li>Pies</li>
        </ul>
      </div>
      <ul id='menu'>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Menu
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem"><%= link_to 'All Items', items_path %>
            <% Category.all.each do |c| %>
              <li role='presentation'><a role='menuitem'><%= link_to c.name, category_path(c) %>
              </li>
            <% end %>
          </ul>
        </div>
        <li><%= link_to 'Contact', contact_path %></li>
        <li id='menu_cart'>
          <%= link_to 'Cart', cart_path %>
          <% if @cart_count != 0 %>
            <%= "(#{@cart_count})" %>
          <% else %>
            <%= "" %>
          <% end %>
        </li>
        <% if signed_in? %>
          <li><%= link_to 'Account Info', current_user %></li>
          <li>
            <%= link_to 'Sign Out', signout_path, method: 'delete' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign in', signin_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
