<h1>Orders Listings:</h1>
<table class='table'>
  <thead>
    <div id="statuses">
      <ul>
          <li>Order Status: </li>
          <li><%= link_to 'All', orders_path %></li>
          <li><%= link_to 'Paid', paid_path %></li>
          <li><%= link_to 'Cancelled', cancelled_path %></li>
          <li><%= link_to 'Completed', completed_path %></li>
      </ul>
    </div>

    <tr>
      <th>Order ID:</th>
      <th>User ID:</th>
      <th>Order Total:</th>
      <th>Order Type:</th>
      <th>Delivery Address:</th>
      <th>Order Status:</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.user_id %></td>
      <td><%= order.order_total %></td>
      <td><%= order.order_type %></td>
      <td><%= order.delivery_address %></td>
      <td><%= order.order_status %></td>
      <td><%= link_to "Show", order %></td>
      <td><%= link_to "Edit", edit_order_path(order) %></td>
      <td><%= link_to "Delete", order, method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  </tbody><br>
</table><br />

<%= link_to 'New Order', new_order_path %>
