<h1>Listing Orders</h1>


<table>
  <thead>
    <tr>
      <th>Orders</th>
      <th>Order Total</th>
      <th>Order Type</th>
      <th>Delivery Address</th>
      <th>Order Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.order_total %></td>
      <td><%= order.order_type %></td>
      <td><%= order.delivery_address %></td>
      <td><%= order.order_type %></td>
      <td><%= order.order_status %></td>
    </tr>
    <% end %>
  </tbody>
</thead>

<br>

<%= link_to 'New Order', new_order_path %>
