<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @order.user.full_name %>
</p>

<p>
  <strong>Order Total:</strong>
  $<%= @order.order_total %>
</p>

<p>
  <strong>Order Type:</strong>
  <%= @order.order_type.upcase %>
</p>

<% if @order.order_type == 'delivery' %>
  <p>
    <strong>Delivery Address:</strong>
    <%= @order.delivery_address %>
  </p>
<% else %>
<% end %>

<p>
  <strong>Order Status:</strong>
  <%= @order.order_status.upcase %>
</p>

<p>
  <strong>Items:</strong>
  <% @order.items.uniq.each do |item| %>
    |   <%= "#{item.title}  :  #{@order.subtotal(item.id)}" %>   
  <% end %>
</p>
<div>
<% if @order.ordered? %>
  <%= link_to 'Cancel Order', cancel_order_path(@order), method: :patch %> |
<% end %>
<% if @order.ordered? %>
  <%= link_to 'Mark As Paid', pay_order_path(@order), method: :patch %> |
<% end %>
<% if @order.paid? %>
  <%= link_to 'Cancel Order', cancel_order_path(@order), method: :patch %> |
<% end %>
<% if @order.paid? %>
  <%= link_to 'Mark As Completed', complete_order_path(@order), method: :patch %> |
<% end %>
    <% unique_order_items = @order.order_items.to_a.uniq { |order_item| order_item.item_id } %>
    <% unique_order_items.each do |order_item| %>
  <div class='pie_title'>
    <%= order_item.item.title %>
  </div>
    <% item_id = order_item.item_id %>
  <div class='pie_quantity'>
    Quantity: <%= quantity =  @order.order_items.select { |order_item| order_item.item_id == item_id }.count%>
    <%= link_to "+", increment_order_order_item_path(@order, order_item) %>
    <%= link_to "-", decrement_order_order_item_path(@order, order_item) %>
  </div>
  <div class='pie_price'>
    Pie Price: <%= order_item.item.price_pie %>
  </div>
  <div class='line_item_total'>
    Subtotal: <%=  quantity * order_item.item.price_pie %>
  </div>
<% end %>

<%= link_to 'Edit Order', edit_order_path(@order) %> |
</div>
