<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @order.user.full_name %>
</p>

<p>
  <strong>Order Total:</strong>
  $<%= @order.order_total %>
</p>

<p>
  <strong>Order Type:</strong>
  <%= @order.order_type.upcase %>
</p>

<% if @order.order_type == 'delivery' %>
  <p>
    <strong>Delivery Address:</strong>
    <%= @order.delivery_address %>
  </p>
<% else %>
<% end %>

<p>
  <strong>Order Status:</strong>
  <%= @order.order_status.upcase %>
</p>

<p>
  <strong>Items:</strong>
  <ul>
    <% @order.items.each do |item| %>
      <li><%= item.title %>
        <%= link_to('edit', edit_item_path(item)) %>
        <%= link_to('delete', item, method: :delete, data: {confirm: 'Are you sure?' }) %>
      </li>
    <% end %>
  </ul>
</p>

<!-- <%= link_to 'Add item', items_path(:order_id => @order.id) %> | -->
<%= link_to 'Edit Order', edit_order_path(@order) %> |
<%= link_to 'Back To All Orders', orders_path %>
