<p id="notice"><%= notice %></p>

<p>
  <strong>Order Total:</strong>
  <%= @order.order_total %>
</p>

<p>
  <strong>Order Type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Order Status:</strong>
  <%= @order.order_status %>
</p>

<p>
    <%= link_to('edit', edit_order_path(order)) %>
    <%= link_to('delete', order, method: :delete, data: {confirm: 'Are you sure?' }) %>
</p>
