<%= render :partial => "shared/header" %>
<h1>Order Details:</h1>
<table class='table'>
  <thead>
    <tr>
      <td>Pie:</td>
      <td>Price:</td>
      <td>Quantity:</td>
      <td>Item Total:</td>
    </tr>
  </thead>

  <tbody>
    <% unique_cart_items = @cart.cart_items.to_a.uniq { |cart_item| cart_item.item_id } %>
    <% unique_cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.title %></td>
        <td><%= cart_item.item.price_pie %></td>
        <% item_id = cart_item.item_id %>
        <td>
          <%= quantity =  @cart.cart_items.select { |cart_item| cart_item.item_id == item_id }.count%><br/>
          <%= link_to 'Delete from Cart', cart_items_destroy_path(item_id: item_id), method: :delete %>
        </td>
        <td>
          <%= quantity * cart_item.item.price_pie %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
;<div>
  <%= form_tag orders_path, method: :post do %>
    <% order = Order.new %>
    <% if current_user == nil %>
      <%= hidden_field_tag 'order[user_id]', 1 %>
    <% else %>
      <%= hidden_field_tag 'order[user_id]', current_user.id %>
    <% end %>

    <div class='form-group'>
      <%= label_tag 'Order Total:' %>
      <%= @total_price = @cart.cart_items.reduce(0) { |total, cart_item| total += cart_item.item.price_pie } %>
      <%= hidden_field_tag 'order[order_total]', @total_price %>
    </div>

    <div class='form-group'>
      <%= label_tag 'Order Type:' %>
      <%= select_tag 'order[order_type]', '<option>Pickup</option><option>Delivery</option>'.html_safe %><br/>
      <%= label_tag 'Delivery Address:' %>
      <%= hidden_field_tag 'order[order_status]', 'ordered' %>
    </div>

    <div class='actions'>
      <% if current_user != nil %>
        <%= submit_tag 'Checkout', class: "btn btn-default" %>
      <% else %>
        <%= link_to 'Sign In', signin_path, class: "btn btn-default" %>
      <% end %>
    </div>

  <% end %>
</div>
  <!-- count is not appearing for each item -->
