<%= render :partial => "shared/header" %>

<div id='wrapper'>
  <% unique_cart_items = @cart.cart_items.to_a.uniq { |cart_item| cart_item.item_id } %>
  <% unique_cart_items.each do |cart_item| %>
    <div class='pie_title'>
      <%= cart_item.item.title %>
    </div>
    <% item_id = cart_item.item_id %>
    <%= link_to 'Delete from Cart', cart_items_destroy_path(item_id: item_id), method: :delete %>
    <div class='pie_quantity'>
      <%= quantity =  @cart.cart_items.select { |cart_item| cart_item.item_id == item_id }.count%>
      <a class="btn btn-primary" href="<%= add_to_cart_path(item_id: cart_item.id) %>"%>ADD TO CART</a>
    </div>
    <div class='line_item_total'>
      <%=  quantity * cart_item.item.price_pie %>
    </div>
  <% end %>
  <div id="total_price">
    <%= @total_price = @cart.cart_items.reduce(0) { |total, cart_item| total += cart_item.item.price_pie } %>
  </div>
  <%= form_tag orders_path, method: :post do %>
    <% order = Order.new %>
    <%= hidden_field_tag 'order[user_id]', 1 %>
    <%= hidden_field_tag 'order[order_total]', @total_price %>
    <%= hidden_field_tag 'order[order_type]', 'pickup' %>
    <%= hidden_field_tag 'order[delivery_address]', 'none' %>
    <%= hidden_field_tag 'order[order_status]', 'ordered' %>
    <%= submit_tag 'Checkout' %>
  <% end %>
  <!-- count is not appearing for each item -->
</div>
