<%= render :partial => "shared/header" %>

<table class="table">
	<thead>
		<tr>
			<th>Pie Name:</th>
			<th>Description:</th>
			<th>Price/Pie:</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @items.each do |item| %>
			<tr>
				<td class='pie_title'>
					<%= link_to item.title, item %><br/>
					<a class="btn btn-default btn-xs" href="<%= add_to_cart_path(item_id: item.id) %>" id="add_item_<%= item.id %>">ADD TO CART</a>
				</td>
				<td class='pie_description'><%= item.description %></td>
				<td class='pie_price'><%= item.price_pie %></td>
      </tr>
    <% end %>
  </tbody>
</table>
