<h1>Our Dangerously Delicious Pies</h1>

<% @items.each do |item| %>
	<div class='pie'>
		<h2 class='pie_title'><strong><%= item.title %></strong><br></h2>
		<p class='pie_description'><%= item.description %><br></p>
		<p class='pie_price'>
			<%= item.price_slice %> /
			<%= item.price_pie %>
	  </p>
	  <%= link_to 'Add Key Lime', edit_cart_path(item) %>

	</div>
<% end %>


<table class="table">
	<thead>
		<tr>
			<th>Pie Name:</th>
			<th>Description:</th>
			<th>Price/Slice:</th>
			<th>Price/Pie:</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @items.each do |item| %>
			<tr>
				<td class='pie_title'><%= item.title %></td>
				<td class='pie_description'><%= item.description %></td>
				<td class='pie_price'><%= item.price_slice %></td>
				<td class='pie_price'><%= item.price_pie %></td>
				<td><%= link_to 'Show', item %></td>
      	<td><%= link_to 'Edit', edit_item_path(item) %></td>
      	<td><%= link_to 'Destroy', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create a New Item', new_item_path %>

