<div class="modal-header">
  <h4 class="modal-title"><%= @item.title %></h4>
</div>
<div class="modal-body">
  <p><%= @item.price_pie %></p>
  <p><%= @item.description %>&hellip;</p>
  <p><%= image_tag("#{@item.title}.png") %></p>
  <p>
    <% if @item.picture_file_name != nil %>
      <%= image_tag @item.picture.url %>
    <% end %>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <a href="<%= add_to_cart_path(item_id: @item.id) %>"%>ADD TO CART</a>
</div>

<!-- <%= render :partial => "shared/header" %>

<h1 class='pie_title'><%= @item.title %></h1>


<a class="btn btn-primary" href="<%= add_to_cart_path(item_id: @item.id) %>"%>ADD TO CART</a>
<table class="table">
	<thead>
		<tr>
			<th>Pie Name:</th>
			<th>Description:</th>
			<th>Price/Pie:</th>
			<th>Categories:</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class='pie_title'><%= @item.title %></td>
			<td class='pie_description'><%= @item.description %></td>
			<td class='pie_price'><%= @item.price_pie %></td>
			<td class='pie_category'>|
				<% @item.categories.each do |category| %>
					<%= link_to category.name, category_path(category) %> |
				<% end %>
			</td>
    </tr>
  </tbody>
</table>


<%= link_to 'Back to Menu', items_path %> -->
